# Java classes
*.class

# Maven
target/

# Some terraform files shouldn't be committed - tfstate can have secrets.
# Some files should be kept - for example, lock file to keep infrastructure versions in-sync.
*.tfstate
*.tfstate.backup
*terraform-provider-aws*
