.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    padding: 10px;
}

.container-fluid ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container-fluid ul li {
    display: inline;
    margin-right: 20px;
}

/* Adjust the logo size */
.container-fluid img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}
/* Form containing buttons like login and logout */
.container-fluid form {
    margin-bottom: 0px; /* This is by default 20px - override it so the button isn't raised up */
}
