<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Math Problem Solving with KaTeX</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css">
    <link rel="stylesheet" href="/css/answer_questions.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha384-1H217gwSVyLSIfaLxHbE7dRb3v4mYCKbpQvzx0cegeju1MVsGrX5xXxAvs/HgeFs" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.js"></script>
</head>
<body>
    <nav th:replace="navbar.html"></nav>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Math Problems Rendered with KaTeX</h2>
                    <h3>Explore and Solve</h3>
                </hgroup>
                <div id="timer" class="info-display">Time: <span id="time-left">60</span> seconds</div>
                <div id="score" class="info-display">Score: <span id="current-score">0</span></div>
                <div id="math-problem-box" class="katex-display"></div>
                <input type="text" id="answer" placeholder="Enter your answer">
                <button id="submit-answer">Submit Answer</button>
            </section>
        </div>
    </main>
    <section aria-label="Subscribe example">
        <div class="container">
            <!-- Subscription Section -->
        </div>
    </section>
    <footer th:replace="footer.html"></footer>
</body>
<script src="/js/answer_questions.js"></script>
</html>
