<nav class="container-fluid">
    <ul>
        <li><a href="/"><strong>Tournamaths</strong></a></li>
    </ul>
    <ul>
        <li><a href="/"><img src="/images/logo.png" alt="Tournamaths Logo" /></a></li>
    </ul>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/login" role="button">Login</a></li>
    </ul>
</nav>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<link rel="stylesheet" href="/css/navbar.css">
